# Development files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
node_modules

# ignore @caweb/template directories these are used for testing
components
content
forms
media
patterns
semantics